* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  display: block;
  align-content: center;
  height: 100vh;
}
canvas {
  width: 100vw;
  height: 100vh;
  filter: url(#goo);
}
#app {
  width: 100vw;
  aspect-ratio: 32/9;
  border: 1px solid black;
  margin: auto;
}
.settings {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

svg {
  position: absolute;
}